<!-- extend bootstrap template templates/polls/base.html -->
{% extends 'polls/base.html' %}

<!-- This block will get rendered inside base.html -->

{% block info %}
	<div class="well"><h3 align="center"><strong> {{ question.question_text }}</strong></h3></div>
{% endblock %}

{% block content %}


{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		<label for="choice{{ forloop.counter }}">{{ choice.choice_text}}</label><br>
	{% endfor %}
	<input type="submit" value="Vote" class="btn btn-md btn-success" >
</form>

{% endblock %}